<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You for Your Feedback</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #007BFF;
        }

        p {
            color: #555;
        }

        .emoji {
            max-width: 200px;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <img class="emoji" src="/static/assets/img/2.png" alt="Smiling Emoji">
    <h1>Thank You for Your Feedback</h1>
    <p>Your feedback has been submitted successfully. We appreciate your input.</p>
</body>
</html>

