<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate PDF</title>
</head>
<body>
    <h1>ECHO - ONLINE CRIME REPORTING</h1>
    <p>Dear user,</p>
    <p>Your complaint with Complaint ID {{ complaint_instance.id }} submitted on {{ complaint_instance.submission_datetime|date:"F j, Y H:i:s" }} has been successfully submitted to ECHO.</p>
    <p>We thank you for bringing this to our attention.</p>
    <p>We appreciate your cooperation. If you have any further questions or concerns, please feel free to contact us.</p>
    <a href="{% url 'generate_pdf' complaint_instance.id %}" target="_blank">Download PDF</a>
    <!-- Add more content or options as needed -->
</body>
</html>


