
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
        {% endif %}
        {% if not request.user.is_authenticated %}
        {% comment %} <script>
            // Show an alert box when the user is logged out
            window.onload = function() {
                alert('You have been successfully logged out.');
            };
        </script> {% endcomment %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <input type="text" placeholder="username" name="username" required>
            <input type="password" placeholder="password" name="password" required>
            <input type="submit" value="Login"><br>
            <span><center>Forget Password? <a href="{% url 'password_reset' %}">Reset</a><center></span>
            <p><h5><center>Not a User?<a href="{% url 'register' %}">Register Here</a><center><h5></p>
        </form>
    </div>
</body>
</html>


