{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "admin.css" %}">
    <title>Admin</title>
    {% block style %}
    {% endblock style %}
</head>
<body>
    <header>
        <h1>Admin Dashboard</h1>
    </header>
    <div class="sidebar">
        <a href="#">Dashboard</a>
        <a href="{% url 'user_account' %} id="us" ">Users</a>
        <a href="{% url "complaint_list" %}">Complaints</a>
        <a href="{% url "adminfeedback" %}">Feedback</a>
        <a href="{% url "add_criminal" %}">Add Most Wanted</a>
        <a href="{% url "add_blog_post" %}">Add Most Wanted</a>
        
        <a href="{% url 'most_wanted_list' %}" class="button">Most wanted</a>
        <a href="{% url 'missing_person_lista' %}">Missing Person Report</a>
        <a href="{% url "logout_view" %}">Logout</a>

        <!-- Add more sidebar options as needed -->
    </div>
    <div class="content">
        {% block body %}
        <h1>rrrrrrrrrrrrrr</h1>
        {% endblock body %}
            
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            
        
    </div>
</body>
</html>
{% block scripts %}{% endblock scripts %}